body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

table {
    font: normal 13pt Arial;
}

th {
    text-align: center;
    font: normal 15pt Arial;
}

td {
    width: 250px;
    text-align: center;
}

td {
    padding-top: 20px;
}