@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

* {
   color: white;
   scrollbar-width: 0;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

#fundo {
   width: 100vw;
   height: 100vh;
   position: absolute;
   z-index: -1;
}

#welcome,
#h1SobreNos {
   font-family: "Ingrid Darling";
   font-size: 7rem;
   color: #fff;
   margin-bottom: 0px;
}

#saudacoes {
   font-family: "Imprima";
   font-size: 25px;
   margin: 0;
   padding: 0;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.p {
   font-size: 25px;
}

a {
   margin: 10px;
}

.btn {
   padding: 5px 20px 5px 20px;
   background-color: #B78F00;
   border: none;
   cursor: pointer;
   font-size: 3rem;
   border-radius: 10px;
   margin-top: 20px;
   text-align: center;
}

.font-ingrid {
   font-family: "Ingrid Darling";
}

.font-imprima {
   font-family: "Imprima";
}

.h1-ingrid {
   font-size: 3.5rem;
}

.h1-imprima {
   font-size: 2.4rem;
}

.h3-ingrid {
   font-size: 2.4rem;
}

.h3-imprima {
   font-size: 2rem;
}

.body-container {
   display: flex;
   flex-direction: column;
   align-self: center;
   align-items: center;
   overflow-y: auto;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   height: 80vh;
}

.pointer {
   cursor: pointer;
}

.bold {
   font-weight: bold;
}

.p-form {
   display: flex;
   flex-direction: column;
   text-align: left;
}

.fixed {
   position: fixed !important;
}

.form {
   display: flex;
   background-color: rgba(30,30,30, .9);
   flex-direction: column;
   border-radius: 20px;
   gap: 3rem;
   padding: 20px 30px 20px 30px;
   text-align: center;
   align-items: center;
   width: 50vw;
}

.input {
   border-radius: 10px;
   padding: 10px 15px 10px 15px;
   color: #000000;
   width: 15rem;
}

.container {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 3rem;
   margin-top: 20px;
}

.body-container::-webkit-scrollbar {
   display: none;
}

#h1SobreNos {
   margin-top: 5px;
}

#pSobreNos {
   width: 500px;
   text-align: center;
   font-family: 'Imprima';
   font-size: 28px;
}

.card {
   width: 500px;
   padding: 10px 15px 15px 15px;
   display: flex;
   flex-direction: column;
   background-color: rgba(0, 0, 0, .7);
   border-radius: 10px;
   margin: 20px;
   justify-content: space-between;
}

.card header {
   background-color: transparent;
}

.title {
   font-size: 4rem;
   text-align: center;
   align-self: center;
}

.footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   bottom: 0;
   text-align: center;
}

.display-flex {
   display: flex;
}

.alert-danger {
   width: 90vw;
   height: 50px;
   background-color: rgba(255, 0, 0, .75);
   border: 1px solid red;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Imprima";
}

@media (max-width: 1400px) {
   .card {
      width: 350px;
      margin: 10px;
   }

   .title {
      font-size: 3rem;
   }

   .h3-ingrid {
      font-size: 2.2rem;
   }

   .h3-imprima {
      font-size: 1.7rem;
   }
}