@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

* {
   color: white;
   scrollbar-width: 0;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   overflow-x: hidden;
}

#fundo {
   width: 100vw;
   height: 100vh;
   position: absolute;
   z-index: -1;
}

.m-0 {
   gap: 0;
   margin: 0;
   padding: 0;
}

.mt-0 {
   margin-top: 0;
}

.m-1 {
   margin: 10px !important;
}

.p-1 {
   padding: 10px !important;
}

#cart-icon {
   width: 50px;
   height: 50px;
   align-self: center;
   justify-self: center;
   filter: invert(100%);
   margin: 0 0 0 10px;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.p {
   font-size: 22px;
}

a {
   margin: 10px;
}

.btn {
   padding: 5px 30px 5px 30px;
   background-color: #B78F00;
   border: none;
   cursor: pointer;
   font-size: 3rem;
   border-radius: 10px;
   margin-top: 20px;
   text-align: center;
}

.btn-danger {
   background-color: rgb(149, 9, 9);
}

.font-ingrid {
   font-family: "Ingrid Darling";
}

.font-imprima {
   font-family: "Imprima";
}

.h1-ingrid {
   font-size: 6rem;
}

.h1-imprima {
   font-size: 2.7rem;
}

.h2-ingrid {
   font-size: 4rem;
}

.h2-imprima {
   font-size: 2.4rem;
}

.h3-ingrid {
   font-size: 2.4rem;
}

.h3-imprima {
   font-size: 2rem;
}

.body-container {
   display: flex;
   gap: 2rem;
   flex-direction: column;
   overflow: hidden;
   align-items: center;
   height: 70vh;
}

.pointer {
   cursor: pointer !important;
}

.bold {
   font-weight: bold;
}

.p-form {
   display: flex;
   flex-direction: column;
   text-align: left;
}

.fixed {
   position: fixed !important;
}

.absolute {
   position: absolute !important;
}

.form {
   display: flex;
   background-color: rgba(30, 30, 30, .9);
   flex-direction: column;
   border-radius: 20px;
   gap: 3rem;
   padding: 20px 30px 20px 30px;
   align-self: center;
   justify-self: center;
   text-align: center;
   align-items: center;
   width: 50vw;
}

.input {
   border-radius: 10px;
   padding: 10px 15px 10px 15px;
   color: #000000;
   outline: none;
   width: 15rem;
}

.container {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 3rem;
   margin-top: 20px;
   overflow: scroll;
   height: 80vh;
}

.body-container::-webkit-scrollbar,
.window::-webkit-scrollbar,
.container::-webkit-scrollbar {
   width: 5px;
}

.body-container::-webkit-scrollbar-thumb,
.window::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
   background-color: #fff;
   border-radius: 5px;
}

.window::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
   width: 2px;
   height: 1px;
   background-color: #fff;
}

#h1SobreNos {
   margin-top: 5px;
}

#pSobreNos {
   width: 500px;
   text-align: center;
   font-family: 'Imprima';
   font-size: 28px;
}

.card {
   width: 500px;
   padding: 10px 15px 15px 15px;
   display: flex;
   overflow: hidden;
   flex-direction: column;
   background-color: rgba(0, 0, 0, .7);
   border-radius: 10px;
   margin: 20px;
   justify-content: space-between;
   align-items: center;
}

.confirmar {
   background-color: #000000;
}

.card header {
   background-color: transparent;
}

.title {
   font-size: 4rem;
   text-align: center;
   align-self: center;
}

.footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   bottom: 0;
   text-align: center;
}

.display-flex {
   display: flex;
}

.display-none {
   display: none !important;
}

.alert-danger {
   width: 90vw;
   height: 50px;
   background-color: rgba(230, 0, 0, 0.562);
   border: 1px solid rgb(231, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Imprima";
   position: relative;

}

.alert-success {
   width: 90vw;
   height: 50px;
   background-color: rgba(25, 143, 1, 0.562);
   border: 1px solid rgb(59, 177, 5);
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Imprima";
}

.window {
   position: absolute;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   background-color: rgba(30, 30, 30, .9);
   align-self: center;
   width: 300px;
   max-height: 300px;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 20px 20px 20px 20px;
}

.closeX {
   background-color: transparent;
   justify-content: right;
   padding: 0 10px 0 0;
   width: 100%;
}

.align-center {
   align-self: center;
   margin: auto;
}

.justify-center {
   display: flex !important;
   justify-content: center !important;
}

.card-pedidos {
   width: 300px;
   padding: 20px 20px 20px 30px;
   display: flex;
   flex-direction: column;
   background-color: rgba(30, 30, 30, .9);
   border-radius: 60px;
   gap: 3rem;
   margin: 20px;
}

.p-complemento {
   display: flex;
   justify-content: space-evenly;
}

hr {
   width: 100%;
}

/* keyframes */





/* mobile */
@media (max-width: 1400px) {
   .card {
      width: 350px;
      margin: 10px;
   }

   .title {
      font-size: 3rem;
   }

   .h3-ingrid {
      font-size: 2.2rem;
   }

   .h3-imprima {
      font-size: 1.7rem;
   }
}