body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to top,#732020,#202373);
  }

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 2px white;
    animation: twinkle 3s linear infinite;
}


@keyframes twinkle {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}