<div class="container">
   <div class="body-container">
      <h1 class="font-ingrid h1-ingrid m-0">Sobre Nós</h1>
      <p id="pSobreNos">No Vinici'os, acreditamos que a comida não é apenas uma necessidade,
         mas sim uma jornada emocional que conecta pessoas e culturas. Somos mais
         do que um simples restaurante, somos uma casa de experiências gastronômicas excepcionais,
         criadas para despertar todos os seus sentidos e tornar cada refeição uma memória inesquecível.
      </p>
   </div>
</div>