<div class="body-container">
   <h1 class="font-ingrid h1-ingrid m-0">Bem Vindo</h1>
   <h3 class="p font-imprima">Viva a verdadeira experiência gastronômica</h3>
   <a href="/menu" class="btn font-ingrid">Menu</a>
</div>