{{#if success_msg}}
  <div class="alert alert-success">{{success_msg}}</div>
{{/if}}

<div class="p-5">
  {{#if req.user}}
    <h3>está logado</h3>
  {{else}}

    <h3 class="display-6">Entre na sua conta para ver seus pedidos</h3>
    <a class="btn btn-primary btn-lg" href="/usuarios/registro">Crie sua conta</a>

  {{/if}}
</div>