<form action="/login" method="POST" class="form">
    <h1 class="logo font-ingrid h1-ingrid">Vinici'os</h1>
    <div>
        <p class="p-form">
            <label for="email" class="font-imprima p">Email</label>
            <input type="email" required class="input font-imprima bold p" name="email">
        </p>
        <p class="p-form">
            <label for="senha" class="font-imprima p">Senha</label>
            <input type="password" required class="input p" name="senha">
        </p>
    </div>
    <div class="flex-column">
        <button class="btn h1-imprima font-imprima" type="submit">Login</button>
        <a class="h3-imprima font-imprima pointer" href="/registro">Criar conta</a>
    </div>
</form>