{{#if success_msg}}
    <div class="alert-success p">{{success_msg}}</div>
{{/if}}

{{#if error}}
    <div class="alert-danger p">{{error}}</div>
{{/if}}

{{#if error_msg}}
    {{#each error_msg}}
        <div class="alert-danger p">{{this}}</div>
    {{/each}}
{{/if}}