<header>
  <a href="/">
    <h1 id="logo">Vinici'os</h1>
  </a>
  <div id="divHeader">
    <nav>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/aboutUs">
          <li>Sobre Nós</li>
        </a>
        <a href="/menu">
          <li>Menu</li>
        </a>
      </ul>
    </nav>
    <div id="divHamburguer">
      <span id="btnHamburguer"></span>
    </div>
    <nav id="menuLateral">
      <div id="menu">
        {{#if user}}
          <p>Perfil</p>
          <p>Pedidos</p>
        {{else}}
          <button class="btn font-imprima">Login</button>
          <p class="font-imprima p">Criar conta</p>
      {{/if}}
      </div>
    </nav>
  </div>
  </div>
</header>