<header>
  <a href="/">
    <h1 id="logo">Vinici'os</h1>
  </a>
  <div id="divHeader">
    <nav>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/aboutUs">
          <li>Sobre Nós</li>
        </a>
        <a href="/menu">
          <li>Menu</li>
        </a>
      </ul>
    </nav>
    <div id="divHamburguer">
      <span id="btnHamburguer"></span>
    </div>
    <nav id="menuLateral">
      {{#if user}}
        <p>Perfil</p>
        <p>Pedidos</p>
      {{else}}
        <button id="btnLogin">Login</button>
        <p>Criar conta</p>


      {{/if}}
    </nav>
  </div>
  </div>
</header>