<header>
  <a href="/">
    <h1 class="logo h1-ingrid font-ingrid">Vinici'os</h1>
  </a>
  <div id="divHeader">
    <nav>
      <ul>
        <a href="/">
          <li class="h2-ingrid">Home</li>
        </a>
        <a href="/aboutUs">
          <li class="h2-ingrid">Sobre Nós</li>
        </a>
        <a href="/menu">
          <li class="h2-ingrid">Menu</li>
        </a>
        {{#if logged}}
          <img src="/images/cart-icon.png" alt="cart icon" id="cart-icon" class="pointer">
        {{else}}
        {{/if}}
      </ul>
    </nav>
    <div id="divHamburguer">
      <span id="btnHamburguer"></span>
    </div>
    <nav id="menuLateral">
      <div id="menu">
        {{#if logged}}
          <header class="h2-ingrid header font-ingrid">Bem vindo, {{logged.nome}}</header>
          <a href="/perfil" class="font-ingrid h2-ingrid">Perfil</a>
          <a href="/pedidos" class="font-ingrid h2-ingrid">Pedidos</a>
          <a href="/logout" class="font-ingrid h2-ingrid">Sair</a>
        {{else}}
          <a href="/login" class="btn font-imprima">Login</a>
          <a href="/registro" class="font-imprima  h3-imprima">Criar conta</a>
        {{/if}}
      </div>
    </nav>
  </div>
  </div>
</header>