<header>
  <a href="/">
    <h1 class="logo h1-ingrid font-ingrid">Vinici'os</h1>
  </a>
  <div id="divHeader">
    <nav>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/aboutUs">
          <li>Sobre Nós</li>
        </a>
        <a href="/menu">
          <li>Menu</li>
        </a>
      </ul>
    </nav>
    <div id="divHamburguer">
      <span id="btnHamburguer"></span>
    </div>
    <nav id="menuLateral">
      <div id="menu">
        {{#if logged}}
          <header class="h2-ingrid header font-ingrid">Bem vindo, {{logged.nome}}</header>
          <p class="font-ingrid h2-ingrid">Perfil</p>
          <p class="font-ingrid h2-ingrid">Pedidos</p>
        {{else}}
          <a href="/login" class="btn font-imprima">Login</a>
          <a href="/registro" class="font-imprima p">Criar conta</a>
        {{/if}}
      </div>
    </nav>
  </div>
  </div>
</header>